.header_footer {
    background: #f5f5f5; /* Màu nền */
    padding: 20px 0; /* Khoảng cách trên và dưới */
}

.header_footer .container {
    max-width: 1200px;
    margin: auto; /* Căn giữa container */
}

.header_footer .row {
    display: flex; /* Kích hoạt Flexbox */
    justify-content: space-between; /* Tạo khoảng cách đều giữa hai cột */
    align-items: center; /* Căn giữa các cột theo chiều dọc */
}


.header_footer_left, .header_footer_right {
    display: flex; /* Kích hoạt Flexbox cho từng cột */
    flex-direction: column; /* Sắp xếp nội dung theo chiều dọc */
    justify-content: center; /* Căn giữa nội dung theo chiều dọc */
    align-items: flex-start; /* Căn trái nội dung bên trong */
}

.header_footer_left {
    flex: 0 0 70%; /* Cột bên trái chiếm 70% */
    max-width: 70%; /* Giới hạn chiều rộng tối đa */
    //background: #1dbd1d;
}

.header_footer_right {
    align-items: flex-start; /* Căn phải nội dung bên trong */
    text-align: right; /* Căn chỉnh văn bản sang phải */
    padding-left: 300px;
}


.header_footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header_footer p {
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.5;
}

/* Định dạng cho các icon mạng xã hội */
.social_links {
    display: flex;
    gap: 20px; /* Khoảng cách giữa các icon */
}

.social_links a {
    font-size: 34px; /* Kích thước biểu tượng */
    color: #2619dd; /* Màu sắc biểu tượng */
    text-decoration: none; /* Xóa gạch chân */
} 

.social_links a:hover {
    color: #dae1da; /* Màu sắc khi hover */
}
