@use "sass:map";
@import './theme';


html
body {
    margin: 0;
    padding: 0;
}

*{
    font-family: -webkit-body;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 11170px;
    width: 100%;
    // padding-left: 15px;
    // padding-right: 15px;
    //background: map.get($themme-colors, "main");
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

.col-left {
    flex: 0 0 25%; /* Cột trái chiếm 25% không gian */
    max-width: 25%; /* Giới hạn độ rộng tối đa */
    box-sizing: border-box;
}

.col-mid {
    flex: 0 0 50%; /* Cột giữa chiếm 50% không gian */
    max-width: 50%; /* Giới hạn độ rộng tối đa */
    box-sizing: border-box;
}

.col-right {
    flex: 0 0 25%; /* Cột phải chiếm 25% không gian */
    max-width: 25%; /* Giới hạn độ rộng tối đa */
    box-sizing: border-box;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
}